.title_1 {
    margin-top: 80px;
    color: #212121;
    text-align: center;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.6px;
    /* 120.656% */
    letter-spacing: 1px;
    text-transform: lowercase;
}

.kategorii {
    display: flex;
    padding: 15px 0 25px 0;
    padding-left: 15px;
    justify-content: center;
    align-items: space-between;
}

.kategorii .list_of_goods {
    display: flex;
    padding: 15px 0 25px 0;
    padding-left: 15px;
    gap: 40px;
}


.kategorii .bags {
    display: flex;
    text-align: center;
    padding: 15px 25px;
    max-width: 260px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 7px 29px 10px rgba(230, 158, 35, 0.847);
}

.kategorii .backpack {
    display: block;
    text-align: center;
    max-width: 260px;
    padding: 15px 25px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 7px 29px 10px rgba(214, 35, 230, 0.847);
}

.kategorii .accesuars {
    display: flex;
    text-align: center;
    max-width: 260px;
    padding-right: 15px;
    padding: 15px 25px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 7px 29px 10px rgba(61, 35, 230, 0.847);
}

.otstup {
    margin: 40px;
}

.table_of_good {
    display: flex;
    width: 1100px;
    margin-bottom: 50px;
}


.one_card_img {
    display: fixed;
    width: 260px;
    border-radius: 35px;
    margin: 20px;
}



.orange {
    box-shadow: 0px 7px 20px 10px rgba(230, 158, 35, 0.847);
}

.purple {
    box-shadow: 0px 7px 20px 10px rgba(214, 35, 230, 0.847);
}

.blue {
    box-shadow: 0px 7px 20px 10px rgba(61, 35, 230, 0.847);
}

.one_card .to_order {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.watch_the_catalog {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 75px;
}

@media (max-width: 992px) {
    .table_of_good{
        flex-wrap: wrap;
        width: 850px;
    }
    .one_card_img{
        width:200px;
        
    }
    .list_of_goods{
        flex-wrap: wrap;
    }
    .title_1{
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .table_of_good{
        flex-wrap: wrap;
        width: 600px;
    }
    .one_card_img{
        width:180px;
    }
    .list_of_goods{
        flex-wrap: wrap;
    }
    .title_1{
        font-size: 35px;
    }
}
@media(max-width:480px){
    .table_of_good{
        flex-wrap: wrap;
        width: 350px;
    }
    .list_of_goods{
        flex-wrap: wrap;
    }
    .title_1{
        font-size: 25px;
    }
}