.the_map{
    display: block;
    margin: 0 auto;
    width:500px;/* 
    margin-left: auto;
    margin-right: auto; */
    padding: 50px;
}
.list_disc{
    list-style-type: disc;
    color: orange;
}
.list_circle{
    padding-left: 15px;
    list-style-type: circle;
}