* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header_warp {
  box-shadow: 0 5px 10px #000000;
}

body {
  color: #000000;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  /* Подключаем семейство шрифтов */
  font-size: 1rem;
  /* Создаем тень над блоком боди под шапкой сайта */
}

.container {
  position: relative;
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}


@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

header {
  display: flex;
  align-items: center;
  /* отцентровка по середине */
  justify-content: space-between;
  /*располжение элементов*/
  padding: 30px 15px;
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
  /* Тень под шапкой */
}

.menu {
  display: flex;
}

@media(max-width:480px) {
  header {
    padding: 15px 4px;
  }

  .logo_img {
    width: 50px;
  }

  .logo {
    width: 50px;
    position: absolute;
    margin: -15px;
    right: 20px;
  }

  .menu {
    display: none;
  }
}

header .logo_img {
  /* время перехода в обратное состояние */
  transition: 0.5s;

}

header .logo_img:hover {
  /* Когда наводимся на логотип-он увеличивается */
  transition: 0.5s;
  transform: scale(1.4);
}




/* .menu li {
  margin-left: 32px;

} */

.but_of_menu {
  margin-left: 32px;
}

.menu li a {
  text-decoration: none;
  font-weight: 500;
}

.show_buttons {
  margin-top: 32px;
  text-decoration: none;
}


/* test */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6ef87c;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(254, 254, 254, 0);
  z-index: 1;
}

.dropdown-content a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #32ee19
}

.dropdown:hover .dropdown-content {
  display: block;

}


/* test */





/* nav .show_buttons ul:hover {
  position: absolute;
  left: 0;
  width: 180px;
}

nav .show_buttons ul {
  position: absolute;
  left: 0;
  width: 180px;
}

nav .show_buttons ul ul {
  position: absolute;
  left: 0;
  width: 180px;
} */

/* header nav ul li a:hover{
  background: black;
  color: #fff;
}

nav ul li{
 position: absolute;
   left: 0; 
  width: 250px;
  display: none;

}

.submenu_goods{
  position: absolute;
  left: 0; 
  width: 250px;
  background-color: blue;
  background : red;
  display: none;
}
nav ul li ul li{
  width: 100%;
  border: 1px solid black;

}
nav ul li ul li ul{
  left:250px;
  top :0;

} */

/* .menu .submenu_goods {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.list_of_header .submenu_good {
  display: none;
}

.list_of_header li:hover .submenu_good {
  display: block;
} */

/* nav {
  width: 660px;
  margin: 0 auto 30px;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
.menu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.menu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.list_of_header ul {
  background: #ECDAD6;
}
.list_of_header ul a {
  color: #695753;
}
.list_of_header .submenu {
  display: none;
}
.list_of_header ul li:hover .submenu {
  display: block;
}
.submenu li a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: white;
} */



















.button {
  /* Сбрасываем дефолтные стили */
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
  font-family: 'Inter', sans-serifs;
  /* Тут можно поэкспериментировать */
  padding: 12px 16px;
  border-radius: 100px;
  color: #fff;
}

.button i {
  margin-right: 4px;
}

.button+.button {
  margin-left: 6px;
}

/*  Типичный цвет если не взаимодействовать с кнопками */
.button.cart {
  background: #feab03;
}

.button.about_us {
  background: #9b59b6;
}

.button.about_us1 {
  background: #db677a;
}

.button.catalog {
  background: green;
}

.button.contact {
  background: rgb(241, 151, 166);
}

.button.feedback {
  background: rgb(0, 81, 255);
}

.button.to_order {
  background: rgb(255, 196, 0);
}

.button.to_watch {
  background: rgb(0, 140, 255);
}

/*  Изменение цвета при наведении курсора */
.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.cart {
  background: #f5ee18;
}

.button:hover.about_us {
  background: #ba67db;
}

.button:hover.about_us1 {
  background: #e02c3e;
}

.button:hover.catalog {
  background: rgb(3, 186, 3);
}

.button:hover.contact {
  background: pink;
}

.button:hover.feedback {
  background: rgb(0, 170, 255);
}

.button:hover.to_order {
  background: rgb(242, 208, 134);
}

.button:hover.to_watch {
  background: rgb(21, 118, 147);
}

/*  Изменение цвета при нажатии */
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:active.cart {
  background: #edb703bb;
}

.button:active.about_us {
  background: #8f4bab;
}

.button:active.about_us1 {
  background: #f80330ce;
}

.button:active.catalog {
  background: rgb(1, 91, 1);
}

.button:active.contact {
  background: rgb(187, 99, 113);
}

.button:active.feedback {
  background: rgba(0, 0, 255, 0.826);
}

.button:active.to_order {
  background: rgba(181, 124, 3, 0.861);
}

.button:active.to_watch {
  background: rgb(9, 217, 240);
}

.main {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.main__title {
  background: linear-gradient(77deg, #FF7B00 0%, #823998 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.8px;
  letter-spacing: 1px;
  text-transform: lowercase;
  max-width: 400px;
}

.main__box {
  border-radius: 32px;
  border: 2px solid #A0A0A0;
  padding: 100px 50px;
  min-width: 50vw;
}

.main__subtitle {
  margin: 30px 0 0 0;
  color: #212121;
  font-size: 30px;
  font-weight: 500;
  line-height: 36.8px;
  letter-spacing: 1px;
  text-transform: lowercase;
  max-width: 300px;

}

.main__btn {
  margin: 30px 0 0 0;
  max-width: 320px;
  display: flex;
  padding: 16px 35px 16px 35px;
  flex-direction: column;
  align-items: center;
  border-radius: 320px;
  background: #FF7B00;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1140px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {
  .main {
    flex-direction: column;
  }
  .main__box {
    min-width: 300px;
  }
}
@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .main__box {
    min-width: 200px;
  }
}


.why_choose_us{

}
.why_choose_us .item{
  display: flex;
  margin-bottom: 30px;
}
.title_why_choose_us{
  font-size:4.5vw;
  text-align: center;
  margin-bottom: 20px;
}
.text_why_choose_us{
  font-size:3vw;
  margin: auto 10px;
}
.properies_of_our_goods{

}
@media (max-width:480px) {
  .title_why_choose_us{
    font-size:5vw;
  }
}
.properies_of_out_goods{

}
.main__reviews {}

.reviews__img {
  padding: 50px;
  border-radius: 20.8px;
  border: 2px solid #A0A0A0;
}

.main__img {}

dialog {
  all: revert;
  border: none;
  z-index: 5050;
}

.modal {
  margin: 100px auto;
  min-width: 700px;
  background-color: #FF7B00;
  border-radius: 70px;
  padding: 50px;

}

.modal__title {
  font-size: 50px;
  color: white;
}

.modal__menu {
  display: flex;
  justify-content: space-between;
}

.modal__btn-close {
  all: unset;
  cursor: pointer;
}

.modal__form {}

.form {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.input {
  min-width: auto;
  min-height: 50px;
  padding: 10px;
}

.form__btn {
  width: 100%;
  height: 54px;
  background-color: #fff;
  color: #ff7b00 !important;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 20rem;
  font-size: 1.6rem;
  transition: all .3s ease;
  box-shadow: none;
  text-align: center;
  font-family: Gilroy, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0;
  font-weight: 500;
}


.our_team {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.our_team_blocks {
  align-items: center;
}

.module_1 {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(236, 144, 14, 1);
}

.module_2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(236, 144, 14, 1);
}

.module_1_image {
  max-width: 500px;

}

.module_2_image {
  display: flex;
  align-items: center;
  margin: 20px;
  max-width: 400px;

}

.module_1_text {
  font-size: 14px;
  max-width: 500px;
}

.module_2_text {
  font-size: 14px;
  max-width: 500px;
}

@media (max-width: 1140px) {}

@media (max-width: 992px) {
  .module_1 {
    flex-direction: column;
  }
  .module_2 {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .module_1 {
    flex-direction: column;
  }
  .module_2 {
    flex-direction: column;
  }
  .module_1_image {
    max-width: 75vw;
  }
  .module_2_image {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .module_1 {
    flex-direction: column;
  }

  .module_2 {
    flex-direction: column;
  }

  .module_1_image {
    max-width: 340px;
  }

  .module_2_image {
    max-width: 300px;
  }
}

.the_location{
  font-size: 3vw;
  text-align: center;
}
.the_map{
  margin: 20px;
}




.footer {
  padding: 50px 0 40px 0;
  background: #E4E4E4;

}

.footer_wrath {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0px 32px 0px 20px;
  align-items: flex-start;
  gap: 40px;
}


@media (max-width: 991px) {
  
  .ways_of_connection {
    flex-direction: column;
  }
} 
@media (max-width: 767px) {
  .footer_wrath {
    gap: 10px;
    padding: 0 8px 0px 5px;
    font-size: 2vw;
  }
  .ways_of_connection {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .footer_wrath {
    flex-direction: column;
    align-items: center;
    font-size: 4vw;
  }
  .ways_of_connection {
    flex-direction: row;
  }
}

.third_part_of_footer {
  width: 200px;
}

.ways_of_connection {
  padding-top: 10px;
  display: flex;
}

.upward {
  position: fixed;
  bottom: 50px;
  right: 100px;
  width: 40px;
  height: 40px;
  background: url("/src/img/icon_top.png");
  background-size: cover;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.upward.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 480px) {
  .hamburger-menu {
    display: block;
    z-index: 1;
    background: transparent
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;

}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}